*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Poppins", sans-serif;
}

body {
  min-height: 100vh;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    #2a475e 0%,
    #1e3344 30%,
    #1b2838 67%,
    rgba(2, 0, 36, 1) 100%
  );
  background-size: 1800% 1800%;

  -webkit-animation: rainbow 10s ease infinite;
  -z-animation: rainbow 10s ease infinite;
  -o-animation: rainbow 10s ease infinite;
  animation: rainbow 10s ease infinite;
  z-index: -1;
}

@-webkit-keyframes rainbow {
  0% {
    background-position: 0% 82%;
  }
  50% {
    background-position: 100% 19%;
  }
  100% {
    background-position: 0% 82%;
  }
}

/* header */

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  justify-content: space-between;
  display: flex;
  align-items: center;
  padding: 15px 100px;
  z-index: 10;
  background-color: #171a21;
  -webkit-box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
  -moz-box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
  box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
}

header .logo {
  position: relative;
  width: 150px;
}

header .navigation {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 10px 0;
}

header .navigation li {
  list-style: none;
  margin: 0 10px;
}

header .navigation li a {
  color: rgb(184, 184, 184);
  text-decoration: none;
  font-weight: 500;
  letter-spacing: 1px;
}

header .navigation li a:hover {
  color: rgb(255, 255, 255);
}

.login {
  flex-direction: row;
  display: flex;
}

.login li a {
  color: rgb(184, 184, 184);
  text-decoration: none;
  font-weight: 500;
  letter-spacing: 1px;
  margin-right: 15px;
}

.login li {
  list-style: none;
}

.login-box {
  background-color: #5c7e10;
  border-radius: 3px;
  padding: 10px;
  transition: 0.2s;
}

.login-box:hover {
  background-color: #839e4ada;
}

@media (max-width: 400px) {
  header {
    padding: 10px 20px;
    padding-bottom: 25px;
    flex-direction: column;
  }
  .navigation {
    padding: 10px 20px;
  }

  header .logo {
    margin-right: 15px;
  }
}

/* ------------style sidebar ----------------------*/

#sidebar {
  flex: 1 20%;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  height: 100%;
  min-height: 100vh;
  color: #f7f1e3;
  padding-left: 1rem;
  margin-right: 1.5rem;
}

@media (max-width: 400px) {
  #sidebar {
    display: none;
  }
}

.search-area {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 25px;
}

.search {
  padding: 5px;
}

.search-area p {
  font-family: Ubuntu, sans-serif;
  text-align: center;
  font-size: 1.3rem;
}
.form-search {
  display: flex;
  margin: 10px 5px 0;
  height: 30px;
  border-radius: 5px;
}
.form-search input {
  flex: 1 80%;
  border-radius: 5px;
  box-shadow: 0px 0px 3px 1px #f7f1e3;
  border: none;
  padding-left: 10px;
}
.form-search button {
  border-radius: 5px;
  border: none;
  box-shadow: 0px 0px 4px 1px #f7f1e3;
  margin-left: 5px;
  cursor: pointer;
}

.menu {
  font-family: Ubuntu, sans-serif;
  border-top: 3px double #f7f1e3;
  padding-top: 1rem;
}
.menu ul {
  list-style: none;
}
.menu li {
  cursor: pointer;
  margin: 0 0rem 2px;
  padding: 1rem 1rem;
  justify-content: space-between;
  align-items: center;
  background: rgba(255, 255, 255, 0.1);
  transition: all 0.5s ease;
  /* transforms-origin: top left; */
}

.menu ul li {
  text-align: center;
}

.menu li:hover {
  background: rgba(255, 255, 255, 0.5);
  transition: all 0.5s ease;
}
/* --------------end style sidebar */

/* card */
.display-game {
  flex: 1 80%;
}
main {
  display: flex;
  padding-top: 150px;
  color: rgb(213, 217, 221);
}

.best {
  color: rgb(197, 197, 197);
  font-weight: bold;
  padding-bottom: 50px;
  text-align: center;
  padding-top: 45px;
}

.card-grid {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.card {
  background: #062138;
  padding: 1rem;
  /* border:1px solid #777; */
  border-radius: 0.35rem;
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.521);
  max-width: 300px;
  transition: 0.3s;
}

.card:hover {
  transform: translateY(-3px);
}

.card-header {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.card-header.card-image {
  overflow: hidden;
}

.card-header.card-image > img {
  display: block;
  width: 100%;
  aspect-ratio: 16/9;
  object-fit: cover;
  max-height: 190px;
  object-position: center;
  transition: 0.2s transform ease-in-out;
}

.card:hover > .card-header.card-image > img {
  transform: scale(1.035);
}

.card-footer {
  margin-top: 1rem;
}

.card-body {
  font-size: 0.9rem;
}

.btn {
  background: #57721c;
  border: none;
  color: rgb(212, 209, 209);
  padding: 0.5em 0.75em;
  cursor: pointer;
  border-radius: 3px;
  transition: 0.1s;
}

.btn:hover,
.btn:focus {
  background: #739629;
  color: rgb(236, 236, 236);
}

.btn:active {
  transform: translateY(1px);
  background: #425716;
  color: rgb(255, 255, 255);
}

.btn.btn-outline {
  background: none;
  border: 1px solid #2d3b0f;
}

.btn.btn-outline:hover,
.btn.btn-outline:focus {
  background: #1d82aa98;
}

.btn + .btn {
  margin-left: 0.5rem;
}

.howard {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 130px;
}

@media (max-width: 400px) {
  .card {
    width: 270px;
  }
  .card-grid {
    display: grid;
    gap: 1rem;
    margin-left: 40px;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  }
  .best {
    margin-top: 22px;
    margin-left: 40px;
  }
  .howard {
    position: fixed;
    left: 280px;
  }
}

/* login page */
.login-form {
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
  background-color: #1c252c;
  color: rgb(204, 204, 204);
  border-radius: 10px;
  padding: 50px;
  margin-top: 50px;
}

.container-login {
  padding: 16px;
}

.btn-login {
  background-color: #137418;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100px;
  border-radius: 5px;
}

.login-form .card-login h1 {
  text-align: center;
  padding: 20px;
}

span.psw {
  float: right;
  padding-top: 16px;
}

.login-form input[type="text"],
input[type="password"] {
  width: 300px;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: none;
  border-radius: 5px;
}

@media screen and (max-width: 400px) {
  span.psw {
    display: block;
    float: none;
  }
}

.imgg {
  width: 19px;
  margin-top: 10px;
}

/* ---------Game Detail----------------------------------- */

.display-detail {
  flex: 1 80%;
  display: flex;
  justify-content: center;
  padding-top: 150px;
  background-image: none;
  margin-left: 10px;
}
.display-detail {
  background-repeat: no-repeat;
}
#container-detail {
  font-family: Arial, Helvetica, sans-serif;
  width: 80vh;
  height: 350px;
  display: block;
}
.name-detail {
  margin-bottom: 8px;
  font-size: 1.8rem;
}
.box-description {
  display: flex;
}
.header-image {
  flex: 1 65%;
}
.description-detail {
  flex: 1 35%;
  font-size: 13px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.tag {
  margin-top: 10px;
}
.btn-tag button {
  color: #67c1f5;
  border-radius: 2px;
  border: none;
  background: rgba(223, 223, 233, 0.253);
  padding: 2px 5px;
  cursor: pointer;
}

.uList {
  text-transform: capitalize;
}
